<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Entity input</title>
</head>
<body>
<h2>Input data: </h2>

<form action="/maintenance/{{ entity_name }}/submit" method="post">
    {% for name in fields %}
    <label for="{{ name }}">{{ name }}:</label>
    <input type="text" id="{{ name }}" name="{{ name }}"><br><br>
    {% endfor %}
    <h3>Relations with: </h3>
     {% for name2 in select_fields %}
        <label for="{{ name2 }}">{{ name2 }}:</label>
        <select id="{{ name2 }}" name="{{ name2 }}">
            {% for relation in existed_relations[name2] %}
                <option value="{{ relation }}">{{ relation }}</option>
            {% endfor %}
        </select>
    {% endfor %}
    <input type="submit" value="Submit">

</form>

<br><br>
<a href="/maintenance"> Back </a>
</body>
</html>