<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardHub - The Ultimate Digital Flashcard Experience</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/index"><img src="../static/img/logo.jpg" alt="CardHub Logo" class="scaled-logo"></a>
        </div>
        <div class="top-links">
            <a href="/disclaimer">Disclaimer</a> |
            <a href="mailto:tkudashev@jacobs-universuty.de"> Contact Us</a> |
            <a href="www.example.com"> Login</a> |
            <a href="/maintenance"> Maintenance</a>
        </div>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="#create">Create Cards</a></li>
                <li><a href="#sets">Card Sets</a></li>
                <li><a href="#study">Study Modes</a></li>
                <li><a href="#share">Share & Collaborate</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#leaderboards">Leaderboards</a></li>
            </ul>
        </nav>

        <div class="content">
            <h2>Welcome to CardHub</h2>
            <p>CardHub is your go-to platform for efficient and engaging learning through digital flashcards. Whether you're a student looking to ace your exams or an educator aiming to enhance your teaching, we've got you covered.</p>
            <p>With CardHub, you can create your own flashcards, organize study materials, and choose from a variety of interactive study modes such as matching, multiple-choice, and classic flip. Collaborate with peers, share your card sets, and become part of a thriving learning community. Compete with friends and track your progress on our leaderboards.</p>
            <p>Start your learning journey with CardHub today and unlock the potential of digital flashcards for a smarter and more engaging study experience.</p>
        </div>
    </main>
</body>
</html>